# --- Regras para o Angular / Node.js (ui) ---
# Ignora dependências instaladas
/front-end/node_modules/
/front-end/dist/
/front-end/out-tsc/
/front-end/.angular/

# --- Regras para o ASP.NET Core (api) ---
# Ignora arquivos de compilação e execução
/GameUsersSolution/bin/
/GameUsersSolution/obj/
/GameUsersSolution/.vs/
/GameUsersSolution/.vscode/
/GameUsersSolution/appsettings.Development.json

# --- Regras Gerais (Ambos) ---
# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente sensíveis (MUITO IMPORTANTE!)
# Nunca suba chaves de API, senhas de banco ou conexões reais
*.env
*.secrets
*.json.user

# Arquivos de log
*.log