.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: var(--medium-jg-green);
    color: var(--color-texts);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2 ease;

    &:hover{
        background-color: var(--bg-cards);
        transform: translateY(-2px);
    }

    &:active{
        transform: translateY(0);
    }
}