input {
    width: 90%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--strong-cyan);
    border-radius: 8px;
    color: white;
    margin-bottom: 1rem;

     &:focus{
        outline: none;
        border-color: var(--strong-cyan);
        box-shadow: 0 0 5px var(--strong-cyan);
    }
}
   